<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}} - Brian Rainey</title>

    <!-- Open ID delegation -->
    <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles"/>
    <link rel="openid2.local_id" href="http://www.google.com/profiles/raineyb"/>

    <!-- Author tag -->
    <link rel="author" href="https://plus.google.com/113350188691013601563"/>

    <!-- Feed discovery -->
    <link rel="alternate" type="application/rss+xml" title="Brian Rainey" href="http://brian.rainey.us/rss.xml">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.png">

    <!-- Bootstrap compiled and minified CSS / JS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Site specific styles / bootstrap overrides -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          {{ content }}
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

          <div itemscope itemtype="http://schema.org/Person">
          
            <div class="sidebar-module profile-pic">
              <a href="http://brian.rainey.us" itemprop="url"><img src="https://s.gravatar.com/avatar/553c9e58d3bbb1e28b5eb5c681b0a53f?s=200" class="img-responsive img-rounded" alt="Brian Rainey" itemprop="image"></a>
            </div>

            <div class="sidebar-module">
              <h4>About Me</h4>
              <p>
                I'm <span itemprop="name">Brian Rainey</span>. Born and bred in <a href="http://www.discovernorthernireland.com/">Norn Iron</a>, 
                I somewhere along the way fell for <a href="http://twitter.com/jennifermobley">a girl</a> and ended up in <a href="http://en.wikipedia.org/wiki/Somerville,_Massachusetts">Somerville</a>, Massachusetts.
                I work at <a href="http://www.oracle.com/us/products/applications/commerce/overview/index.html"><span itemProp="worksFor">Oracle</span></a> and think <a href="http://www.flickr.com/photos/bangers/8475343819/">robots are cool</a>.
              </p>
            </div>
            <div class="sidebar-module">
              <h4>Elsewhere</h4>
              <ol class="list-unstyled">
                <li><a href="http://twitter.com/brianrainey" rel="me" itemprop="sameAs">Twitter</a></li>
                <li><a href="http://facebook.com/brianjrainey" rel="me" itemprop="sameAs">Facebook</a></li>
                <li><a href="http://github.com/brianrainey" rel="me" itemprop="sameAs">Github</a></li>
                <li><a href="http://flickr.com/photos/bangers" rel="me" itemprop="sameAs">Flickr</a></li>
                <li><a href="http://www.last.fm/user/brianrainey" rel="me" itemprop="sameAs">Last.fm</a></li>
                <li><a href="https://addons.mozilla.org/en-US/firefox/addon/special-order/" rel="me" itemprop="sameAs">Mozilla Add-ons</a></li>
                <li><a href="https://keybase.io/brianrainey" rel="me" itemprop="sameAs">Keybase</a></li>
              </ol>
            </div>

          </div>

          <div>
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="/archives/2014">2014</a></li>
              <li><a href="/archives/2015">2015</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </body>
</html>
