<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brian Rainey</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Site specific styles / bootstrap overrides -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          {{ content }}
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module profile-pic">
            <img src="https://s.gravatar.com/avatar/553c9e58d3bbb1e28b5eb5c681b0a53f?s=200" class="img-responsive img-rounded" alt="Brian Rainey">
          </div>

          <div class="sidebar-module">
            <h4>About Me</h4>
            <p>
              I'm Brian Rainey. Born and bred in Norn Iron, I somewhere along the way fell for @jennifermobley and ended up in Somerville, Massachusetts.
              I work at Oracle and think robots are cool.
            </p>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">App.net</a></li>
              <li><a href="#">Github</a></li>
              <li><a href="#">Flickr</a></li>
              <li><a href="#">Last.fm</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </body>
</html>
